@media (max-width: 1200px)
	
@media (max-width: 992px)
	.form
		&__wrapper
			grid-template: 45px / 1fr 186px
@media (max-width: 768px)
	.form
		&__wrapper
			grid-template: repeat(2, 45px)/ 1fr
@media (max-width: 576px) 
	.form
		&__wrapper
			rid-template: repeat(2, 45px)/ 1fr
		&__input
			input
				font-size: 14px
		 
